<!DOCTYPE html>
<html lang="zxx">
<head>
<div>
  <meta charSet="utf-8" />
  <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <title>Welcome || Xshapp – Multipage App Landing HTML5 Template</title>
  {/* Fav Icons */}
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
  {/* Google Fonts */}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" />
  {/* Stylesheets */}
  <link rel="stylesheet" href="css/fontawesome-v5.9.0.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.min.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/spacing.min.css" />
  <link rel="stylesheet" href="css/flaticon.css" />
  <link rel="stylesheet" href="css/leaflet.min.css" />
  <link rel="stylesheet" href="css/slick.min.css" />
  <link rel="stylesheet" href="css/menu.css" />
  {/* Main Style CSS */}
  <link rel="stylesheet" href="css/style.css" />
  {/* Responsive CSS */}
  <link rel="stylesheet" href="css/responsive.css" />
  {/*[if lt IE 9]><![endif]*/}
  <div className="page-wrapper">
    {/* Preloader */}
    <div className="preloader" />
    {/* START Main Header */}
    <header className="main-header">
      {/* Header-Upper */}
      <div className="header-upper">
        <div className="container clearfix">
          <div className="header-inner d-lg-flex align-items-center">
            <div className="logo-outer d-flex align-items-center">
              <div className="logo"><a href="index.html"><img src="assets/images/logo.png" alt="Logo" /></a></div>
            </div>
            <div className="nav-outer clearfix ml-lg-auto">
              {/* Main Menu */}
              <nav className="main-menu navbar-expand-lg">
                <div className="navbar-header clearfix">
                  {/* Toggle Button */}
                  <button type="button" className="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span className="icon-bar" />
                    <span className="icon-bar" />
                    <span className="icon-bar" />
                  </button>
                </div>
                <div className="navbar-collapse collapse clearfix">
                  <ul className="navigation clearfix">
                    <li className="current-menu-item"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="service.html">Service</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li className="dropdown"><a href="#">News</a>
                      <ul>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="blog-details.html">News Details</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </nav>
              {/* Main Menu END */}
            </div>
            <div className="menu-btn">
              <a href="#" className="theme-btn">Download App</a>
            </div>
          </div>
        </div>
      </div>
      {/* END Header Upper */}
    </header>
    {/* END Main Header */}
  </div></div>
